.gig {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 30px 0px;
    display: flex;
    gap: 50px;

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .breadcrumbs {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 13px;
        color: #555;
      }


      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        .pp {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 14px;
          font-weight: 500;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            height: 14px;
            width: 14px;
          }

          span {
            font-size: 14px;
            font-weight: bold;
            color: #ffc108;
          }
        }
      }

      .slider {
        background-color: #F5F5F5;
        img {
          max-height: 500px;
          object-fit: contain;
        }
      }

      h2 {
        font-weight: 400;
      }

      .pt {
        font-weight: 300;
        line-height: 25px;
        color: #555;
      }

      .seller {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .user {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .stars {
              display: flex;
              align-items: center;
              gap: 5px;

              img {
                height: 14px;
                width: 14px;
              }

              span {
                font-size: 14px;
                font-weight: bold;
                color: #ffc108;
              }
            }

            button {
              background-color: white;
              border-radius: 5px;
              border: 1px solid gray;
              padding: 10px;
            }
          }
        }

        .box {
          box-shadow: 0px 0px 5px 1px #100137b4;
          border: 1px solid rgb(0, 0, 0);
          border-radius: 5px;
          padding: 20px;
          margin-top: 20px;

          .items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .item {
              width: 300px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin-bottom: 20px;

              .title {
                font-weight: 300;
              }
            }
          }

          hr {
            height: 0;
            border: 0.5px solid lightgray;
            margin-bottom: 20px;
          }
        }
      }
    }

    .right {
      flex: 1;
      border: 1px solid rgb(0, 0, 0);
      padding: 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: max-content;
      max-height: 500px;
      position: sticky;
      top: 150px;
      box-shadow: 0px 0px 5px 1px #100137b4;

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          font-weight: 300;
        }

        h3 {
          font-weight: 500;
        }
      }

      .pt {
        color: rgb(128, 128, 128);
        margin: 10px 0px;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 20px;
          }
        }
      }

      .features {
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 300;
          color: rgb(82, 82, 82);
          margin-bottom: 5px;

          img {
            width: 14px;
          }
        }
      }

      button {
        background-color: #0a004b;
        padding: 10px;
        color: white;
        font-weight: 500;
        border: none;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .container {
      width: 100%;
      padding: 20px;
      gap: 30px;
      flex-direction: column;

      .left,
      .right {
        width: 100%;
      }

      .right {
        position: relative;
        top: 0;
        max-height: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 10px;
      gap: 20px;

      .left {
        .user {
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;

          .pp {
            width: 24px;
            height: 24px;
          }

          span {
            font-size: 12px;
          }

          .stars {
            img {
              height: 12px;
              width: 12px;
            }

            span {
              font-size: 12px;
            }
          }
        }

        .seller {
          .user {
            
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            img {
              width: 80px;
              height: 80px;
            }

            .info {
              gap: 5px;

              .stars {
                img {
                  height: 12px;
                  width: 12px;
                }

                span {
                  font-size: 12px;
                }
              }

              button {
                padding: 8px;
              }
            }
          }

          .box {
            padding: 10px;

            .items {
              .item {
                width: 100%;
              }
            }
          }
        }
      }

      .right {
        .price {
          flex-direction: column;
          align-items: flex-start;

          h2,
          h3 {
            font-size: 18px;
          }
        }

        .details,
        .features {
          font-size: 12px;

          .item {
            img {
              width: 16px;
            }
          }
        }

        button {
          font-size: 16px;
        }
      }
    }
  }
}
.bordered-img {
  border: 5px solid #000000; // Customize the border style as needed
}